<div>
  <br>
  <div class="steps-form-2 text-center mx-auto">
    <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
      
      
      <div class="steps-step-2">
        <a routerLink="/orderlist" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top"
          title="Basic Information"><i aria-hidden="true">1</i></a>
      </div>
      
      <div class="steps-step-2">
        <a routerLink="/orderprofile" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top"
          title="Personal Data"><i aria-hidden="true">2</i></a>
      </div>

    </div>
  </div>
 
    <div class="steps-form-2 text-center mx-auto">
        <div class="setup-panel-2 d-flex justify-content-between">
          <div>
            <a class="steps-fontsize" style=" margin-left: -27px">รายการสินค้ารอรับเข้า</a>
          </div>
          <div>
            <a class="steps-fontsize" style=" margin-left: px" >สรุปรายการ</a>
          </div>
        </div>
      </div>
      <br>

</div>

