<div class="row">
  <div class="col-12" >
    <table class="table table-hover">
      <thead>
        <tr class="background">
          <th class="th" scope="col" style="width: 5.5%;">Select</th>
          <th class="th" scope="col">Order No.</th>
          <th class="th" scope="col">Order Date</th>
          <th class="th" scope="col-3">Customer Name</th>
          <th class="th" scope="col">Mobile No.</th>
          <th class="th" scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listItem">
        <tr>
          <th scope="row" class="checkbox checkbox-info checkbox-circle" style="text-align: center">
            <input id="{{item.id}}" class="styled" type="checkbox" checked>
              <label for="{{item.id}}">
              </label>
          </th>
          <td>{{ item.orderno }}</td>
          <td>{{ item.orderoate }}</td>
          <td>{{ item.customername }}</td>
          <td>{{ item.mobileno }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="col-md-12 col-mg-12 col-xs-12 text-center">
      <button type="button" class="btn background-cccccc button">Back</button>
      <button type="button" class="btn background button margin-l">Confirm</button>
    </div>
  </div>
</div>