<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-3">
      <input type="text" id="txtOrderNo" [(ngModel)]="orderNo" class="form-control" (keyup.enter)="getData(orderNo)" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center ">
      <button (click)="getData(orderNo)" class="btn btn-green">Get data</button>
      <button (click)="getData(orderNo = '');" class="btn btn-green">Clear data</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr class="background">
            <th class="th" scope="col" style="width: 5.5%;">Select</th>
            <th class="th" scope="col">Order No.</th>
            <th class="th" scope="col">Order Date</th>
            <th class="th" scope="col-3">Customer Name</th>
            <th class="th" scope="col">Mobile No.</th>
            <th class="th" scope="col">Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of cusList">
          <tr>
            <th scope="row" class="checkbox checkbox-info checkbox-circle" style="text-align: center">
              <input id="{{item.id}}" class="styled" type="checkbox" checked>
              <label for="{{item.id}}">
              </label>
            </th>
            <td>{{ item.orderNo }}</td>
            <td>{{ item.orderDate }}</td>
            <td>{{ item.orderCustomerName }}</td>
            <td>{{ item.orderMobileNo }}</td>
            <td>{{ item.status }}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="col-md-12 col-mg-12 col-xs-12 text-center">
        <button type="button" class="btn background-cccccc button">Back</button>
        <button type="button" class="btn background button margin-l">Confirm</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>