<app-order-stepper></app-order-stepper>
<div class="row">
  <div class="col-10 mx-auto " >
    <table class="table table-hover table-hover-full">
      <thead>
        <tr class="background">
          <th class="th" scope="col" style="width: 5.5%;">Select</th>
          <th class="th" scope="col">Order No.</th>
          <th class="th" scope="col">Order Date</th>
          <th class="th" scope="col-3">Customer Name</th>
          <th class="th" scope="col">Mobile No.</th>
          <th class="th" scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cusList">
          <th scope="row" class="checkbox checkbox-info checkbox-circle" style="text-align: center">
            <input id="{{item.orderNo}}" class="styled" type="checkbox" checked>
              <label for="{{item.orderNo}}">
              </label>
          </th>
          <td>{{item.orderNo }}</td>
          <td>{{item.orderDate }}</td>
          <td>{{item.orderCustomerName }}</td>
          <td>{{item.orderMobileNo }}</td>
          <td>{{item.status }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="col-md-12 col-mg-12 col-xs-12 text-center">
      <button type="button" class="btn background-cccccc button">Back</button>
      <button type="button" class="btn background button margin-l" routerLink="/orderProfile">Confirm</button>
    </div>
  </div>


</div>
